html,body {
  height: 100%;
  overflow:hidden;
}

body {
  background:white;
  margin:0;
  padding:0;
  height:100%;

  
}

#wrap {
  max-width:480px;
  margin:40px auto;
  box-shadow: 0 10px 40px #334;
}

input {
  display:block;
  box-sizing:border-box;
  border:3px solid grey;
  line-height:40px;
  font-size:24px;
  text-indent:.25em;
  height:40px;
  width:460px;
  border:1px solid #dfdfdf;
  border-radius: 6px;
}

#text {
  background:#fafafa;
  height:40px;
  padding:10px;
}

#keyboard {
  display: block;
  text-align: center;
  font-family: helvetica, arial, sans;
  background: #e5e6e8;
  -webkit-user-select: none;
  -moz-user-select: none;
}

#keyboard .key {
  display: inline-block;
  height: 60px;
  width: 38px;
  border-radius: 4px;
  line-height: 60px;
  font-size: 20px;
  background: #fcfcfc;
  color: #0a0a0b;
  margin: 10px 4px;
  text-align: center;
  text-transform: uppercase;
  box-shadow:0px 1px 1px #aaa;
}

#keyboard .key[data-action] {
  width: auto;
  padding: 0 1em;
}

#keyboard .key[data-action=space] {
  width: 220px;
}

#keyboard .key:active {
  background: #fff;
  box-shadow:0px -1px 1px #bbb;
}